/* stuff */

p {
  width: 100%;
  padding: 10px 20px 10px 20px;
}

/* Nav blanco */

.navbar-inverse {
  background: white;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
}
#bs-example-navbar-collapse-1 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.navbar-inverse .navbar-nav>li>a {
  border: none;
}
.container-brand {
  width: 40%;
  margin-right: 0;
}
.container-brand img {
  width: 40%;
}


/* Header */


.content-header {
height: 60vh;

}

.content-header h2 {
  font-size: 2.5em;
}

.content-header p {

  width: 98vw;
  padding: 0 20px;

}





/* services */

.boxes li {
  height: 70vh;
  width: 100%;
  margin: 1px;
}


/* contacto */

.contenido_contacto .formulario {
  width: 95%;
  padding: 40px; }

  .contenido_contacto .formulario form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px; }

    .contenido_contacto .formulario form input {
      width: 95%;
      margin-bottom: 20px;
      text-align: left; }

/* footer */


footer {
  background: #1C1D25;
  padding: 5vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

footer p {
  color: white;
  width: 100vw;
}






/* // */
